 <div>You are on the homepage</div>

 <div>
     <img src="{{movies.poster}}">
     <h2>{{movies.title}}</h2>
 </div>

 {{!-- <button id="movies">Click to See the Movies</button> --}}

 {{!-- <script src="/javascript/movies.js"></script> --}}